<table class="table table-striped table-bordered table-hover"
	style="table-layout: fixed;">
	<thead>
		<tr>
			<th colspan="7" align="center" bgcolor="#5090c1" color="#fff">
			列表</th>
		</tr>
	</thead>

	<thead>
		<tr>
			<th>档案编号</th>
			<th>姓名</th>
			<th>性别</th>
				
				<th>随访医生</th>

				<th>随访日期</th>
				<th>随访方式</th>
				<th>操作</th>
		</tr>
	</thead>

	<tbody>
		{% for record in records %}
		<tr>
			<td nowrap="nowrap"
				style="overflow: hidden; text-overflow: ellipsis;"
				title='档案编号'>{{record.healthFileNumber}}</td>

			<td nowrap="nowrap"
				style="overflow: hidden; text-overflow: ellipsis;" title='姓名'>
				{{record.name}}</td>

			<td nowrap="nowrap"
				style="overflow: hidden; text-overflow: ellipsis;" title='性别'>
				{{record.genderCode}}</td>

			<td nowrap="nowrap"
				style="overflow: hidden; text-overflow: ellipsis;" title='随访医生'>
				{{record.flupDoctorName }}</td>

			<td nowrap="nowrap"
				style="overflow: hidden; text-overflow: ellipsis;" title='随访日期'>
				{{record.flupData }}</td>
			<td nowrap="nowrap"
				style="overflow: hidden; text-overflow: ellipsis;" title='随访方式'>
				{{record.flupMode }}</td>


			<td>
				<!-- 此处的url是url的名字urls.py中的name='aged_details' -->
		
				<a href="{% url 'hypet_details' record.ID %}"> 查看</a> <a
				href="/admin/website/tbhypertensionflup/{{ record.ID }}/change/">
					修改</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>


</table>



